.btn {
  background-color: transparent;
  border: none;
  border-radius: 33px;
  color: $white;

  &.primary {
    width: 281px;
    height: 65px;
    font-family: $gillSansMTPro;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: $btn-bg--active;
    transition: .4s;
    cursor: pointer;
    position: relative;

    &.small {
      font-size: 22px;
      line-height: 22px;
    }

    &:hover {
      background-color: $primary-pink;
    }
  }
}

a {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}